#background_logo{
	position:fixed !important; 
	right:50px; 
	bottom:50px; 
	z-index:-1 !important; 
	width:180px;
}
#wb_Form1{
	background:green;
	padding:20px;
	border-radius:5px;
	width:360px;
	height:auto;
	z-index:8; 
	margin: 0 auto;
	color:white;
	transition:1s all;
    box-shadow:-0.2px 3px 3px 1px rgba(0,0,0,0.2);
}

#wb_Form1:hover{
   transition:0.5s all;
   box-shadow:-0.2px 12px 12px 12px rgba(0,0,0,0.229);
}
html{
	height:100%;
	width:100%;
}
body{
	background-size:100% 100%;
}
a:hover{
	text-decoration: none;
}
a{
	font-size: 12px;
}
.jumbotron{
	background-color:white;
}
.prestamo{
	width:40px;
}